name: CI

on:
  pull_request:
    types: [opened, edited, synchronize]

  workflow_dispatch:

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - name: Create .env
        run: |
          touch .env
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
      - name: Install dependencies
        run: npm install
      - name: Check
        run: |
          npm run tsc
          npm run lint
          npm run build
      - name: Test
        run: npm run test
      - name: Build Storybook
        run: npm run storybook:build
        timeout-minutes: 10
